<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__container container">
        <img src="images/logo.svg" alt="" class="logo" />
        <ul class="navigation">
          <li class="navigatio__item">О нас</li>
          <li class="navigatio__item">Товары и услуги</li>
          <li class="navigatio__item">Наши студии</li>
          <li class="navigatio__item">Система скидок</li>
          <li class="navigatio__item">Доставка</li>
          <li class="navigatio__item">Контакты</li>
        </ul>
        <a class="number" href="tel:+7(928)-07-07-557">+7(928)-07-07-557</a>

        <div class="menu__burger-icon">
          <div class="hamb__field" id="hamb">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
        <div class="popup" id="popup"></div>
      </div>
    </header>
    <a href="#" class="icon scroll-arrow">
      <img src="images/scroll-arrow.png" alt="" />
    </a>
    <div
      class="image-overlay page-404"
      style="background-image: url('images/image-overlay.png')"
    >
      <div class="container">
        <div class="text-container__404">
          <h3 class="text__404">
            Мы не можем найти запрашиваемую вами страницу, ошибка
          </h3>
          <p class="num__404">404</p>
          <a href="" class="button__404">Вернуться на главную страницу</a>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="footer__container">
          <div class="contacts">
            <div class="contacts__item">
              <img src="images/icon-gps.png" alt="" />
              <p class="contacts__text">г. Владикавказ, ул. Джанаева, д. 37</p>
            </div>
            <div class="contacts__item">
              <img src="images/email.png" alt="" />
              <a
                class="contacts__text"
                href="mailto:ruki-design-studio@yandex.ru"
                >ruki-design-studio@yandex.ru</a
              >
            </div>
            <div class="contacts__item">
              <img src="images/phone.png" alt="" />
              <p class="contacts__phone">+7(928)07-07-557</p>
            </div>
            <a href="" class="link-beige feedback-btn"
              >Обратная связь <img src="images/studio-arrow.svg" alt=""
            /></a>
          </div>
          <div class="menu">
            <ul class="menu__column">
              <li class="menu__item">О нас</li>
              <li class="menu__item">Товары и услуги</li>
              <li class="menu__item">Наши студии</li>
            </ul>
            <ul class="menu__column">
              <li class="menu__item">Система скидок</li>
              <li class="menu__item">Доставка</li>
              <li class="menu__item">Контакты</li>
            </ul>
          </div>
          <div class="network">
            <p class="network__text">Мы в соцсетях и мессенджерах:</p>
            <div class="network__icons">
              <div class="icon"><img src="images/vk.png" alt="" /></div>
              <div class="icon"><img src="images/telega.png" alt="" /></div>
              <div class="icon"><img src="images/watsapp.png" alt="" /></div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <a href="" class="footer__bottom_text">Политика конфиденциальности</a>
          <a href="" class="footer__bottom_text">Разработка сайта</a>
        </div>
      </div>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
