<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__container container">
        <img src="images/logo.svg" alt="" class="logo" />
        <ul class="navigation">
          <li class="navigatio__item">О нас</li>
          <li class="navigatio__item">Товары и услуги</li>
          <li class="navigatio__item">Наши студии</li>
          <li class="navigatio__item">Система скидок</li>
          <li class="navigatio__item">Доставка</li>
          <li class="navigatio__item">Контакты</li>
        </ul>
        <a class="number" href="tel:+7(928)-07-07-557">+7(928)-07-07-557</a>

        <div class="menu__burger-icon">
          <div class="hamb__field" id="hamb">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </div>
        <div class="popup" id="popup"></div>
      </div>
    </header>
    <a href="#" class="icon scroll-arrow">
      <img src="images/scroll-arrow.png" alt="" />
    </a>

    <div class="breadcrumbs-container">
      <ul class="breadcrumbs">
        <li class="breadcrumbs__item">Главная</li>
        <li class="breadcrumbs__item">Статичная страница</li>
      </ul>
      <h1 class="breadcrumbs__title">Статичная страница</h1>
    </div>

    <div class="container">
      <div class="static">
        <h2 class="block-title">Заголовок H2</h2>

        <p class="static__text">
          Добро пожаловать в студию праздничного дизайна! Мы специализируемся на
          создании неповторимой атмосферы для вашего особого события. Независимо
          от того, свадьба, день рождения или корпоративное мероприятие, наша
          команда профессионалов воплощает ваши мечты в реальность. Мы создаем
          уникальные декорации, аранжировки и акценты, чтобы каждая деталь
          события стала запоминающейся историей. Придайте своему празднику
          волшебство с нами!"
        </p>
        <div class="static-block1">
          <div class="static-block1__img">
            <img src="images/static-img.png" alt="" />
          </div>
          <p class="static-block1__text">
            Наши творческие дизайнеры работают с вами, чтобы понять ваше видение
            и пожелания. Мы учтем ваши предпочтения в цветовой гамме, стиле и
            тематике, чтобы создать декор, который отражает вашу
            индивидуальность и стиль. Мы также предоставляем уникальные идеи и
            концепции, чтобы сделать ваше событие по-настоящему запоминающимся.
            <br />
            <br />
            Наша команда профессиональных организаторов сделает все возможное,
            чтобы ваш праздник прошел гладко и без стресса. Мы берем на себя
            весь процесс планирования, координации и выполнения, чтобы вы могли
            наслаждаться каждой минутой вашего особого дня.
          </p>
        </div>
      </div>
    </div>
    <div class="static-block2">
      <h3 class="static-block2__title">
        Заголовок H3. Пример маркированного списка
      </h3>
      <ul class="static-block2__list container-small">
        <li class="static-block2__list_item">
          <span class="static__list_item-text-bold"
            >Индивидуальный дизайн:
          </span>
          Мы создаем уникальные декорации и аранжировки, подходящие именно для
          вашего события.
        </li>
        <li class="static-block2__list_item">
          <span class="static__list_item-text-bold"
            >Креативные концепции:
          </span>
          Предлагаем оригинальные идеи, чтобы ваш праздник был особенным и
          непохожим на другие.
        </li>
        <li class="static-block2__list_item">
          <span class="static__list_item-text-bold"
            >Профессиональная организация:
          </span>
          Наша команда берет на себя всю работу по планированию и координации,
          чтобы вы могли расслабиться.
        </li>
        <li class="static-block2__list_item">
          <span class="static__list_item-text-bold"
            >Индивидуальный подход:
          </span>
          Мы учитываем ваши предпочтения и стиль, чтобы создать декор,
          отражающий вашу уникальность.
        </li>
        <li class="static-block2__list_item">
          <span class="static__list_item-text-bold"
            >Запоминающиеся детали:
          </span>
          Мы делаем так, чтобы каждая деталь вашего события стала частью
          незабываемой истории.
        </li>
        <li class="static-block2__list_item">
          <span class="static__list_item-text-bold"
            >Волшебство и восхищение:
          </span>
          Подарите своим гостям невероятное впечатление и радость от момента,
          когда они войдут на ваше мероприятие. С нами ваш праздник станет
          нываемым и уникальным!
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="seo-text-container">
        <h2 class="block-title">Seo-текст</h2>
        <p class="seo-text">
          Добро пожаловать в студию праздничного дизайна! Мы специализируемся на
          создании неповторимой атмосферы для вашего особого события. Независимо
          от того, свадьба, день рождения или корпоративное мероприятие, наша
          команда профессионалов воплощает ваши мечты в реальность. Мы создаем
          уникальные декорации, аранжировки и акценты, чтобы каждая деталь
          события стала запоминающейся историей. Придайте своему празднику
          волшебство с нами!"
        </p>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer__container">
          <div class="contacts">
            <div class="contacts__item">
              <img src="images/icon-gps.png" alt="" />
              <p class="contacts__text">г. Владикавказ, ул. Джанаева, д. 37</p>
            </div>
            <div class="contacts__item">
              <img src="images/email.png" alt="" />
              <a
                class="contacts__text"
                href="mailto:ruki-design-studio@yandex.ru"
                >ruki-design-studio@yandex.ru</a
              >
            </div>
            <div class="contacts__item">
              <img src="images/phone.png" alt="" />
              <p class="contacts__phone">+7(928)07-07-557</p>
            </div>
            <a href="" class="link-beige feedback-btn"
              >Обратная связь <img src="images/studio-arrow.svg" alt=""
            /></a>
          </div>
          <div class="menu">
            <ul class="menu__column">
              <li class="menu__item">О нас</li>
              <li class="menu__item">Товары и услуги</li>
              <li class="menu__item">Наши студии</li>
            </ul>
            <ul class="menu__column">
              <li class="menu__item">Система скидок</li>
              <li class="menu__item">Доставка</li>
              <li class="menu__item">Контакты</li>
            </ul>
          </div>
          <div class="network">
            <p class="network__text">Мы в соцсетях и мессенджерах:</p>
            <div class="network__icons">
              <div class="icon"><img src="images/vk.png" alt="" /></div>
              <div class="icon"><img src="images/telega.png" alt="" /></div>
              <div class="icon"><img src="images/watsapp.png" alt="" /></div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <a href="" class="footer__bottom_text">Политика конфиденциальности</a>
          <a href="" class="footer__bottom_text">Разработка сайта</a>
        </div>
      </div>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
